/*
* shapp.content.css
* Content styles. imported from joomla template. They must be cleaned-up!!! Sorry. 
*/
@font-face {
    font-family: copperplate_gothic_boldRg;
    src: url('../fonts/coprgtb-webfont.eot');
    src: url('../coprgtb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coprgtb-webfont.woff') format('woff'),
         url('../fonts/coprgtb-webfont.ttf') format('truetype'),
         url('../fonts/coprgtb-webfont.svg#copperplate_gothic_boldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: copperplate_gothic_lightRg;
    src: url('../fonts/coprgtl-webfont.eot');
    src: url('../fonts/coprgtl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coprgtl-webfont.woff') format('woff'),
         url('../fonts/coprgtl-webfont.ttf') format('truetype'),
         url('../fonts/coprgtl-webfont.svg#copperplate_gothic_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.row{
   margin-right: 0px;
}

#bg { display:none }
.bgwidth { width: 100%; }
.bgheight { height: 105%; }


#sh-manifest{
	
	position:relative
	
	 font-family: Helvetica,Arial,sans-serif;
		
		background-image:url(../images/background.png);
		background-position: 50% 0px;
		background-repeat:no-repeat;
		-webkit-background-size: auto 100%;
		-moz-background-size: auto 100%;
		-o-background-size: auto 100%;
		background-size: auto 100%;  	
	
}

#logo-img {margin-top: 15px;}

#logo-img {width:20%; margin-right:auto; margin-left:auto; }

.email a:link, .email a:visited{color:black}
.logo {padding: 0px}


#projekt_zirl img {width:100%}
#kontakt  img {width:100%}

#wohnungen h3 {}

#projekt_zirl h2{ font-family: copperplate_gothic_lightRg; font-size: 160%; color: #527ea1;font-weight: 900; text-shadow: 1px 1px #000000; position: absolute; top: 70%; left:40%; text-align: left; width:60%; background-color: rgba(255,255,255,0.4)}

h1 {font-family: copperplate_gothic_boldRg;
; color: black; text-align: center; }
h2  {font-family: copperplate_gothic_boldRg;
 color: black; text-align: center; margin-bottom: 50px}
h3 {font-family: copperplate_gothic_lightRg;
 color: black;text-align: left}

p{font-family: Lucida Sans Unicode;
color: black; text-align: left;margin-bottom: 50px
}
#menuspace {height: 20px}
.centriert {text-align: center}
#login {position: fixed; bottom: 50px; right: 100px; background-color: white ; display: none}
#projekt_zirl { position: relative;top: 20px}

#login:hover {display: block}
.form-horizontal .control-label {
  text-align: left;
}

#wohnungen p {margin-bottom: 0px;}

.fusszeile
{
      clear: both;
      text-align: left;
      font-size: small;
      font-style: italic;
      color: black;
}

@media screen and (max-width: 767px) { #logo-img {width:25%; margin-right:auto; margin-left:auto; }
 
	}
@media screen and  (min-width: 768px) and (max-width: 979px) { #logo-img {width:25%; margin-right:auto; margin-left:auto; }

}
@media screen and (max-width: 979px) and (max-width:  1199px) { #logo-img {width:25%; margin-right:auto; margin-left:auto; }
 }
@media screen and (min-width:  1199px) { #logo-img {width:25%; margin-right:auto; margin-left:auto; }

}


@media print {
  a:link:after, a:visited:after {    
  content: "  ";    }
   body
{
   
		background-image:url(../images/background.png);
		background-position: 50% 0px;
		background-repeat:no-repeat;
		-webkit-background-size: auto 1938px;
  -moz-background-size: auto 1938px;
  -o-background-size: auto 1938px;
  background-size: auto 1938px;  **/

}
#bg { display: none}
.item-page li {list-style: disc}
h2  {font-family: Arial, Helvetica, sans-serif;
font-size: 3vw; color: black; text-align: center; margin-bottom: 50px}
h3 {font-family: Arial, Helvetica, sans-serif;
font-size: 2vw; color: black;text-align: left}

}

#mainmenu li.active a {
  background-color: #ffffff;
}
